/**Color**/
$colorPrimaire: #9356dc;
$colorSecondaire: #ff79da;
$colorTertiaire: #99e2d0;
$colorWhite: #f5edff;

/*background*/
$backgroundColorGreyLite: #f6f6f6;
$backgroundColorWhite: white;
$backgroundColor03: #353535;
$backgroundColor04: #eaeaea;
$backgroundColor05: #99e2d0;

/*text*/
$texteColorLight: white;
$texteColorDark: black;
$texteColorDarkLite: rgb(44, 44, 44);

/***icon***/
/*link*/
$iconFavoriteOff: "../media/icon/icon_favorite_ohmyfood_01.svg";
$iconFavoriteActive: "../media/icon/icon_favorite_ohmyfood_02.svg";
/*size*/
$iconSizeNativ: 25px;
$iconSizeBig: 30px;

/**boxShadow**/
.boxShadow01 {
    box-shadow: 0px 1px 36px 1px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 1px 36px 1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 1px 36px 1px rgba(0, 0, 0, 0.26);
}

.boxShadow02 {
    box-shadow: -2px 4px 35px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 4px 35px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 4px 35px -21px rgba(0, 0, 0, 0.75);
}

/**font**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

$nativSize: 14px;

$pSize: calc(#{$nativSize} + 2px);
$pBigSize: calc(#{$nativSize} + 4px);
$titleMiniSize: calc(#{$nativSize} + 6px);
$titleSize: calc(#{$nativSize} + 8px);
$titleBigSize: calc(#{$nativSize} + 10px);


/**padding**/

$marginUniversal01: 20px;

.paddingBox {
    width: calc(100% - ($marginUniversal01 * 2));
    padding: $marginUniversal01 {
        bottom: 50px;
        top: 50px;
    }
}

.paddingBox02 {
    width: calc(100% - ($marginUniversal01 * 2));
    padding: $marginUniversal01 {
        bottom: 20px;
        top: 20px;
    }
}

@media screen and (min-width: 600px) {
    $marginUniversal01: 45px;

    .paddingBox {
        width: calc(100% - ($marginUniversal01 * 2));
        padding: $marginUniversal01 {
            bottom: 50px;
            top: 50px;
        }
    }

    .paddingBox02 {
        width: calc(100% - ($marginUniversal01 * 2));
        padding: $marginUniversal01 {
            bottom: 20px;
            top: 20px;
        }
    }
}

@media screen and (min-width: 800px) {
    $marginUniversal01: 15%;

    .paddingBox {
        width: calc(100% - ($marginUniversal01 * 2));
        margin: auto;
        padding: $marginUniversal01 {
            bottom: 50px;
            top: 50px;
        }
    }

    .paddingBox02 {
        width: calc(100% - ($marginUniversal01 * 2));
        margin: auto;
        padding: $marginUniversal01 {
            bottom: 20px;
            top: 20px;
        }
    }
}

@media screen and (min-width: 1200px) {
    $marginUniversal01: 25%;

    .paddingBox {
        width: calc(100% - ($marginUniversal01 * 2));
        margin: auto;
        padding: $marginUniversal01 {
            bottom: 50px;
            top: 50px;
        }
    }

    .paddingBox02 {
        width: calc(100% - ($marginUniversal01 * 2));
        margin: auto;
        padding: $marginUniversal01 {
            bottom: 20px;
            top: 20px;
        }
    }
}
